body {
  margin: 0;
  padding: 0;
  font-family: 'Conv_Proxima Nova Condensed', sans-serif;
  font-weight: normal; }

a {
  text-decoration: none; }

.wrapper {
  background-color: #f5f7f8;
  height: 100vh;
  max-height: 100vh; }

.container {
  width: 1170px;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }

header {
  padding-top: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.pwa-phone a {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #1a1a1a; }
.pwa-email a {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: right;
  color: #1a1a1a; }
.pwa-logo img {
  width: 458px;
  height: 140px; }
.pwa-text {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #999999;
  text-align: center;
  margin-bottom: 60px; }
.pwa-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  .pwa-buttons .btn {
    width: 344px;
    height: 60px;
    border-radius: 60px;
    line-height: 60px;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 2px;
    text-align: center;
    transition: all .3s ease;
    text-transform: uppercase;
    cursor: pointer; }
  .pwa-buttons .btn-yellow {
    background-color: #ffd740;
    color: #1a1a1a; }
    .pwa-buttons .btn-yellow:hover {
      background-color: #204498;
      color: #ffffff; }
  .pwa-buttons .btn-blue {
    background-color: #204498;
    color: #ffffff; }
    .pwa-buttons .btn-blue:hover {
      background-color: #ffd740;
      color: #1a1a1a; }

footer {
  width: 100%;
  padding-bottom: 60px; }

/*# sourceMappingURL=pwa_style.css.map */
