@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?814zgh');
  src:  url('fonts/icomoon.eot?814zgh#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?814zgh') format('truetype'),
    url('fonts/icomoon.woff?814zgh') format('woff'),
    url('fonts/icomoon.svg?814zgh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-left-arrow:before {
  content: "\e916";
}
.icon-right-arrow:before {
  content: "\e917";
}
.icon-menu:before {
  content: "\e900";
  color: #204498;
}
.icon-cross-remove-sign:before {
  content: "\e901";
  color: #204498;
}
.icon-envelope:before {
  content: "\e902";
  color: #204498;
}
.icon-phone-call-big:before {
  content: "\e903";
  color: #204498;
}
.icon-youtube:before {
  content: "\e904";
}
.icon-instagram:before {
  content: "\e905";
}
.icon-vk-social-network-logo:before {
  content: "\e906";
}
.icon-facebook-logo:before {
  content: "\e907";
}
.icon-placeholder:before {
  content: "\e908";
  color: #204498;
}
.icon-close:before {
  content: "\e909";
}
.icon-magnifying-glass:before {
  content: "\e90a";
}
.icon-right-quote:before {
  content: "\e90b";
}
.icon-chat:before {
  content: "\e90c";
}
.icon-dish:before {
  content: "\e90d";
}
.icon-clip:before {
  content: "\e90e";
  color: #b3b3b3;
}
.icon-phone-call:before {
  content: "\e90f";
  color: #204498;
}
.icon-food:before {
  content: "\e910";
}
.icon-ice-cream:before {
  content: "\e911";
}
.icon-sandwich:before {
  content: "\e912";
}
.icon-cake:before {
  content: "\e913";
}
.icon-gravy:before {
  content: "\e914";
}
.icon-bell-covering-hot-dish:before {
  content: "\e915";
}
.icon-cancel:before {
  content: "\e802";
}
