@font-face {
    font-family: 'Conv_Proxima Nova Condensed';
    src: url('Proxima Nova Condensed Bold/Proxima Nova Condensed Bold.eot');
    src: local('☺'), url('Proxima Nova Condensed Bold/Proxima Nova Condensed Bold.woff') format('woff'),
                     url('Proxima Nova Condensed Bold/Proxima Nova Condensed Bold.ttf') format('truetype'),
                     url('Proxima Nova Condensed Bold/Proxima Nova Condensed Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_Proxima Nova Condensed';
    src: url('Proxima Nova Condensed Regular/Proxima Nova Condensed Regular.eot');
    src: url('Proxima Nova Condensed Regular/Proxima Nova Condensed Regular.woff') format('woff'),
                     url('Proxima Nova Condensed Regular/Proxima Nova Condensed Regular.ttf') format('truetype'),
                     url('Proxima Nova Condensed Regular/Proxima Nova Condensed Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}