$black: #1a1a1a;
$blue: #204498;
$yellow: #ffd740;
@media (min-width: 1920px) {
  body {
    background-size: contain;
    background-attachment: scroll !important;
  }
}

*:focus {
  outline: 0;
}

.form-control:focus {
  box-shadow: none !important;
}

body {
  padding-bottom: 60px;
  color: $black;
  background-attachment: fixed;
  //background-image: url(../image/background.jpg);
  background-image: url(../image/background.png);
  background-position: center top;
  //max-width: 1920px;
  margin: auto;
  font-size: 14px;
}

ul {
  padding-left: 0;
}

.input-block {
  position: relative;
  height: auto;
}

.textarea-block {
  position: relative;
  height: auto;
}

.error {

  color: #e83c4d;
  position: absolute;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  left: 0px;
  top: 100%;
  transform: translateY(+2px);
  margin-bottom: 0;
}

input, input.form-control {
  outline: none;
  border: solid 1px transparent;
  background-color: #fff;
  height: 50px;
  padding-left: 20px;
  color: $black;
  font-size: 14px;
  transition: all .3s ease;
  border-radius: 0;
  box-shadow: none;

  &:focus {
    border-color: #ffd740;
    box-shadow: none;
  }

  &.has-error {
    border: 1px solid #e83c4d !important;
  }
}

textarea, textarea.form-control {
  outline: none;
  border: solid 1px transparent;
  background-color: #fff;
  height: 140px;
  padding: 18px 20px;
  resize: none;
  color: $black;
  font-size: 14px;
  transition: all .3s ease;
  border-radius: 0;
  box-shadow: none;

  &:focus {
    border-color: #ffd740;
    box-shadow: none;
  }

  &.has-error {
    border: 1px solid #e83c4d !important;
  }
}

button {
  outline: none;
}

.btn {
  width: 200px;
  height: 50px;
  background-color: #ffd740;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 2px;
  color: $black;
  border: 0;
  border-radius: 0;
  text-transform: uppercase;
  line-height: 50px;
  padding: 0;
  transition: all .3s ease;

  &:hover {
    background-color: $blue;
    color: #fff;
  }
}

h3 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 4px;
  color: $black;
  margin-top: 60px;
  margin-bottom: 40px;
  //margin-bottom: 40px;
}

.header {
  &.fixed {
    .container {
      padding: 20px 15px 76px;
    }
  }

  .container {
    padding: 20px 15px;
  }
  &-logo{
    img{
      max-width: 294px;
    }
  }
  &-search {
    position: relative;
    margin-top: 20px;

    input {
      width: 100%;
      max-width: 360px;
      height: 50px;
      font-size: 14px;
      border-radius: 10em;
      padding: 0 52px 0 20px;
      transition: border-color .3s ease;
    }

    button {
      position: absolute;
      right: 0;
      padding: 0 20px;
      background-color: transparent;
      border: 0;
      height: 50px;
      top: 0;
    }
  }

  &-info-a {
    padding-top: 20px;

    a {
      font-size: 16px;
      color: $black;
      transition: color .3s ease;

      &:hover {
        color: $blue;
      }

      &.tell {
        margin-right: 30px;
      }
    }
  }

  &-callback {
    padding-top: 16px;

    button {
      margin-left: 60px;
      display: block;
      font-weight: bold;
      letter-spacing: 3px;
      color: $blue;
      transition: color .3s ease;
      text-transform: uppercase;
      position: relative;
      border: 0;
      padding: 0 0 0 35px;
      line-height: 1;
      background-color: transparent;
      font-size: 14px;

      i {
        position: absolute;
        top: 50%;
        font-size: 20px;
        left: 0;
        transform: translateY(-50%);

        &:before {
          transition: color .3s ease;
        }
      }

      &:hover {
        color: $black;

        i:before {
          color: $black;
        }
      }
    }
  }
}

.main-menu {
  &.fixed_menu {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 100;
    box-shadow: 0px 4px 5px -5px rgba(113, 113, 113, 0.55);
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 56px;
    background-color: #ffffff;
    margin-bottom: 0;
    padding-left: 0;

    li {
      padding: 0 19px;

      &.active a {
        color: #204498;
      }

      a {
        font-weight: bold;
        font-size: 16px;
        color: $black;
        transition: color .3s ease;
        text-decoration: none;

        &:hover {
          color: $blue;
        }
      }
    }
  }
}

.footer {
  .copyright {
    text-align: center;
    padding: 30px 15px;
    color: #fff;
    opacity: 0.5;
    font-size: 14px;
  }

  .row {
    padding: 0 15px;
  }

  &-content {
    background-color: $blue;
    padding: 40px 0px 0;
  }

  &-social {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 0;

    li {
      margin: 0 7.5px;

      a {
        width: 40px;
        height: 40px;
        display: block;
        background-color: #3657a2;
        border-radius: 50%;
        color: #fff;
        position: relative;
        transition: all .3s ease;

        &:before {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        &.icon-facebook-logo:before {
          font-size: 20px;
        }

        &.icon-vk-social-network-logo:before {
          font-size: 13px;
        }

        &.icon-instagram:before {
          font-size: 20px;
        }

        &.icon-youtube:before {
          font-size: 15px;
        }

        &:hover {
          color: $blue;
          background-color: #fff;
        }
      }
    }
  }

  &-callback {
    padding-top: 12px;

    button {
      margin-left: 60px;
      display: block;
      font-weight: bold;
      float: right;
      letter-spacing: 3px;
      color: #fff;
      transition: color .3s ease;
      text-transform: uppercase;
      position: relative;
      border: 0;
      font-size: 14px;
      padding: 0 0 0 35px;
      line-height: 1;
      background-color: transparent;

      i {
        position: absolute;
        top: 50%;
        font-size: 20px;
        left: 0;
        transform: translateY(-50%);

        &:before {
          transition: color .3s ease;
          color: #fff;
        }
      }

      &:hover {
        color: $yellow;

        i:before {
          color: $yellow;
        }
      }
    }
  }

  &-contacts {
    padding-top: 12px;

    a {
      font-weight: bold;
      font-size: 14px;
      color: #fff;
    }

    .tell {
      margin-left: 30px;
    }
  }

  .newsletters {
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

    h2 {
      font-size: 16px;
      text-transform: uppercase;
      font-weight: bold;
      line-height: 1;
      letter-spacing: 5px;
      color: #ffffff;
      margin: 0;
    }

    &-form {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      position: relative;

    }

    &-input {
      padding-left: 20px;
      width: 535px;
      height: 50px;
      background-color: rgba(255, 255, 255, 0.1);
      color: #fff;
      font-size: 14px;

      &:focus {
        border-color: #fff;

      }

      &::-moz-placeholder {
        color: #fff;
      }

      &::-webkit-input-placeholder {
        color: #fff;
      }

      &::-ms-input-placeholder {
        color: #fff;
      }
    }

    &-btn {
      margin-left: 15px;
      font-size: 14px;
      border: 0;
      width: 200px;
      height: 50px;
      background-color: $yellow;
      transition: all .3s ease;
      color: $black;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 2px;

      &:hover {
        background-color: #fff;

      }
    }
  }
}

.slick-slider {
  margin-bottom: 23px;

  .item {
    position: relative;

    &-title {
      position: absolute;
      //top: 86px;
      top: 96px;
      left: 30px;
      font-size: 36px;
      font-weight: bold;
      text-transform: uppercase;
      color: #ffffff;
    }

    &-text {
      position: absolute;
      max-width: 593px;
      width: 100%;
      top: 137px;
      left: 30px;
      font-size: 18px;
      color: #ffffff;
      line-height: 1.22;
    }

    a {
      width: 200px;
      height: 50px;
      border-radius: 60px;
      background-color: #ffffff;
      display: block;
      position: absolute;
      left: 30px;
      bottom: 87px;
      font-size: 14px;
      text-transform: uppercase;
      line-height: 50px;
      text-align: center;
      font-weight: 600;
      letter-spacing: 2px;
      color: #1a1a1a;
      border: solid 1px transparent;
      transition: all .3s ease;

      &:hover {
        border-color: #fff;
        color: #fff;
        background-color: transparent;
      }
    }
  }

  .slick-dots {
    list-style: none;
    font-size: 0;
    flex-direction: row;
    align-items: center;
    display: flex;
    position: absolute;
    bottom: 23px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    height: 8px;
    justify-content: center;

    li {
      height: 8px;
      opacity: .5;
      margin: 0 4px;

      &.slick-active {
        opacity: 1;
      }

      button {
        padding: 0;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        border: 0;
        background-color: #fff;

      }
    }
  }
}

.baner-home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;

  .item {
    width: 100%;
    max-width: 555px;
    position: relative;

    &-content {
      position: absolute;
      top: 45px;
      left: 30px;
      max-width: 280px;
      width: 100%;
    }

    &-mobal {
      display: none;
    }

    &:nth-child(1) {
      margin-right: 15px;
    }

    &:nth-child(2) {
      margin-left: 15px;
    }

    &-title {
      text-transform: uppercase;
      font-size: 24px;
      font-weight: bold;
      color: #ffffff;
      margin-bottom: 15px;
      max-height: 48px;
      overflow: hidden;
    }

    &-text {
      top: 84px;
      left: 30px;
      font-size: 16px;
      color: #ffffff;
      line-height: 1.25;
      max-height: 60px;
      overflow: hidden;
    }

    a {
      width: 160px;
      height: 40px;
      border-radius: 60px;
      background-color: #ffffff;
      display: block;
      position: absolute;
      left: 30px;
      bottom: 46px;
      font-size: 12px;
      text-transform: uppercase;
      line-height: 40px;
      text-align: center;
      font-weight: 600;
      letter-spacing: 1.7px;
      color: #1a1a1a;
      border: solid 1px transparent;
      transition: all .3s ease;

      &:hover {
        border-color: #fff;
        color: #fff;
        background-color: transparent;
      }
    }
  }
}

.product-search {
  h1 {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    color: #1a1a1a;
    margin-bottom: 40px;
    margin-top: 0;
  }

  .block-search {
    position: relative;
    margin-bottom: 30px;

    .btn-search {
      position: absolute;
      right: 0;
      padding: 0 20px;
      background-color: transparent;
      border: 0;
      height: 50px;
      top: 0;
    }
  }

}

.module-special {
  position: relative;

  .product-thumb {
    margin-bottom: 0;
  }

  .next {
    position: absolute;
    font-size: 10px;
    top: -70px;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .3s ease;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      background-color: $yellow;
    }
  }

  .prev {
    position: absolute;
    font-size: 10px;
    top: -70px;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .3s ease;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      background-color: $yellow;
    }
  }

  .slider-special {
    margin: 0 -15px;
  }

  .slick-slide > div {
    margin: 0 15px;
  }
}

.module-article {
  position: relative;
  margin-bottom: 30px;

  .next {
    position: absolute;
    font-size: 10px;
    top: -70px;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .3s ease;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      background-color: $yellow;
    }
  }

  .prev {
    position: absolute;
    font-size: 10px;
    top: -70px;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .3s ease;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      background-color: $yellow;
    }
  }

  .slider-article {
    margin: 0 -15px;
  }

  .slick-slide > div {
    margin: 0 15px;
  }
}

.product-thumb {
  background-color: #fff;
  border: 0;
  transition: box-shadow .3s ease;
  padding: 108px 30px 0;
  position: relative;

  .image {
    margin-bottom: 40px;
  }

  .image a {
    width: 100%;
    height: 160px;
    position: relative;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }

  .special-date {
    position: absolute;
    top: 30px;
    left: 30px;
    color: #808080;

    p {
      margin: 0 0 3px 0;
      font-size: 12px;
      line-height: 1;
      font-weight: normal;
    }

    span {
      font-size: 12px;
      line-height: 1;
      font-weight: 600;
    }
  }

  .caption {
    min-height: auto;

    .description {
      margin-bottom: 30px;
      height: 34px;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      h4 {
        margin: 0 15px 0 0;
        max-width: 220px;
        max-height: 100%;

        a {
          font-size: 16px;
          font-weight: normal;
          color: $black;
        }
      }

      .mass {
        width: 65px;
        position: relative;
        font-size: 14px;
        font-weight: 600;
        color: #b3b3b3;
        text-align: right;

        &:before {
          content: '';
          height: 37px;
          width: 1px;
          background-color: #e6e6e6;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }

  .btn-cart {
    height: 50px;
    border-radius: 60px;
    background-color: $blue;
    color: #fff;
    border: 0;
    width: 100%;
    max-width: 300px;
    margin: 0 auto 30px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: block;
    padding: 0;
    transition: all .3s ease;

    &:hover {
      background-color: $yellow;
      color: $black;
    }
  }

  .price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    &-new {
      font-size: 20px;
      font-weight: bold;
      color: $black;

      &-percent {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 60px;
        height: 60px;
        background-color: #e83c4d;
        border-radius: 50%;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        color: #ffffff;
        line-height: 60px;
      }
    }

    &-old {
      font-size: 16px;
      font-weight: 600;
      color: #999999;
    }
  }

  &:hover {
    box-shadow: 0 0 10px 0 #e6e6e6;
  }
}

.recipes-home {
  margin-bottom: 60px;

  .items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    .item {

      a {
        display: flex;
        flex-direction: column;
      }

      .item-content:after {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -30px;
        border: 15px solid transparent;
        border-bottom: 15px solid #fff;
      }

      &:nth-child(2n) a {

        flex-direction: column-reverse;
        //.item-content:after {
        //  bottom: -30px;
        //  top: auto;
        //  border: 15px solid transparent;
        //  border-top: 15px solid #fff;
        //}
      }
    }

    .item-content {
      background-color: #fff;
      height: 190px;
      position: relative;
      text-align: center;
      padding-top: 116px;

      img {
        position: absolute;
        transform: translateX(-50%) scale(1.3, 1.3);
        -ms-transform: translateX(-50%) scale(1.3, 1.3);
        -webkit-transform: translateX(-50%) scale(1.3, 1.3);
        bottom: 89px;
        left: 50%;
      }
    }

    .item-title {
      font-size: 12px;
      font-weight: 600;
      color: $black;
      line-height: 14px;
      letter-spacing: 1.7px;
      text-transform: uppercase;
    }

    .item-img {

    }
  }

  .btn-recipes {
    width: 224px;
    height: 60px;
    border-radius: 10em;
    background-color: $yellow;
    margin: auto;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 60px;
    padding-left: 83px;
    color: $black;
    display: block;
    position: relative;
    transition: all .3s ease;

    i {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 38px;
      font-size: 30px;
    }

    &:hover {
      background-color: $blue;
      color: #fff;
    }
  }
}

.review-home {
  position: relative;

  .btn-review {
    width: 224px;
    height: 60px;
    border-radius: 10em;
    background-color: $yellow;
    margin: 0 auto 60px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 60px;
    padding-left: 83px;
    color: $black;
    display: block;
    position: relative;
    transition: all .3s ease;

    i {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 38px;
      font-size: 30px;
    }

    &:hover {
      background-color: $blue;
      color: #fff;
    }
  }

  .review-caption {
    padding: 30px;
    background-color: #fff;
    height: 223px;
    text-align: center;

    i {
      display: block;
      font-size: 20px;
      margin-bottom: 30px;
    }

    .review-author {
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 2px;
      line-height: 18px;
      color: $black;
      display: block;
      margin-bottom: 15px;
    }

    p {
      font-size: 14px;
      color: $black;
      line-height: 1.2;
      margin-bottom: 0;
    }
  }

  .review-slider {
    margin: 0 -15px 30px;

    .slick-slide {
      margin: 0 15px;
    }
  }

  .next {
    position: absolute;
    font-size: 10px;
    top: -70px;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .3s ease;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      background-color: $yellow;
    }
  }

  .prev {
    position: absolute;
    font-size: 10px;
    top: -70px;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .3s ease;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      background-color: $yellow;
    }
  }
}

.mfp-wrap {
  position: fixed !important;
  top: 0 !important;

  .mfp-container {
    overflow-y: auto;
  }
}

.main_popups {
  .modal-dialog {
    //width: 614px;
    max-width: 644px;
    width: 100%;
    padding: 30px 15px;
    margin: auto;

    .modal-content {
      border-radius: 0;
      background-color: #f5f7f8;
      border: 0;
      box-shadow: none;
      padding: 60px 30px;

      .close {
        position: absolute;
        top: 15px;
        right: 15px;
        opacity: 1;
        transition: opacity .3s ease;

        i {
          font-size: 15px;
          color: $black;
        }

        &:hover {
          opacity: 0.6;
        }
      }

      input {
        margin-bottom: 30px;

        &.has-error {
          border: 1px solid #e83c4d;
        }
      }

      textarea {
        margin-bottom: 15px;

        &.has-error {
          border: 1px solid #e83c4d;
        }
      }

      .form-group {
        position: relative;
        margin-bottom: 0;

      }

      .error {
        position: absolute;
        bottom: -15px;
        line-height: 12px;
        margin-bottom: 0;
      }

      .modal-header {
        border: 0;
        padding: 0;
      }

      .modal-body {
        padding: 0;
      }
    }
  }

  h3 {
    margin-bottom: 30px;
    line-height: 20px;
  }

  .popups_switch {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    &_tab {
      margin: 0 15px;
      font-size: 14px;
      font-weight: 600;
      color: #999999;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 2px;
      transition: color .3s ease;
      text-transform: uppercase;
      cursor: pointer;

      &.open {
        color: $black;
      }

      &:hover {
        color: $black;
      }
    }
  }

  .popups_tabs {
    .popups_tab {
      display: none;

      .btn {
        margin: 30px auto 0;
        display: block;
      }

      &.open {
        display: block;
      }
    }
  }
}

.page-information {
  h1 {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    color: $black;
    margin-bottom: 40px;
    margin-top: 0;
  }

  .information {
    &_content {
      background-color: #fff;
      padding: 30px;
      margin-bottom: 60px;

      p {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.14;
        letter-spacing: normal;
        color: $black;
      }

      img {
        margin-bottom: 20px;
        max-width: 100%;
      }
    }
  }
}

.breadcrumb {
  background-color: #204498;
  border-radius: 0;
  padding: 8px 15px;
  margin-bottom: 60px;

  li {
    margin-right: 26px;
    position: relative;

    a {
      cofont-size: 12px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.17;
      letter-spacing: normal;
      color: #fff;
      text-transform: uppercase;
      transition: color .3s ease;

      &:hover {
        color: #ffd740;
      }
    }

    &:before {
      display: none;
    }

    i {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -18px;
      font-size: 8px;
      color: #fff;
    }

    &:last-child {
      span {
        cofont-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.17;
        letter-spacing: normal;
        color: #fff;
        text-transform: uppercase;
        opacity: 0.5;
      }
    }
  }
}

.page-news_list {
  .pagination {
    margin: 0;
  }

  .bnews-list {
    margin-bottom: 60px;
  }

  h1 {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    color: $black;
    margin-bottom: 40px;
    margin-top: 0;
  }

  .information {
    &_content {
      background-color: #fff;
      padding: 30px;
      margin-bottom: 60px;

      p {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.14;
        letter-spacing: normal;
        color: $black;
      }

      img {
        margin-bottom: 20px;
        max-width: 100%;
      }
    }
  }
}

.artblock {
  margin-bottom: 30px;
  background-color: #fff;

  &-img {
    width: 100%;

    img {
      width: 100%;
    }
  }

  &-content {
    padding: 30px;
  }

  &-date {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #999999;
    margin-bottom: 12px;
  }

  &-name {
    overflow: hidden;
    height: 39px;
    text-align: center;
    margin-bottom: 11px;

    a {
      font-size: 18px;
      font-weight: bold;
      width: 100%;
      font-style: normal;
      font-stretch: normal;
      line-height: 18px;
      letter-spacing: 2px;
      color: $black;
      text-decoration: none;
    }
  }

  &-preview {
    overflow: hidden;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    height: 48px;
    line-height: 16px;
    letter-spacing: normal;
    text-align: center;
    color: $black;
    margin-bottom: 30px;
  }

  .btn {
    width: 100%;
    line-height: 50px;
  }
}

.news-article {
  .page-news_list {

  }
}

.page-news_article {
  .article-content {
    padding: 60px 30px;
    margin-bottom: 60px;
    background-color: #fff;

    h1 {
      margin-bottom: 30px;
    }

    .article-description {
      p {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.14;
        letter-spacing: normal;
        color: $black;
      }

      img {
        margin-bottom: 20px;
        max-width: 100%;
      }
    }

    .article-date {
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: center;
      color: #999999;
      margin-bottom: 30px;
    }
  }
}

.pagination {
  border-radius: 0;
  margin-bottom: 60px;
  position: relative;
  width: 100%;
  height: 60px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;

  .disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.7;
    color: $black !important;
  }

  &-prev {
    font-size: 10px;
    color: $black;
    transition: color .3s ease;

    &:hover {
      color: #204498;
    }
  }

  &-next {
    font-size: 10px;
    color: $black;
    transition: color .3s ease;

    &:hover {
      color: #204498;
    }
  }

  &-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin-bottom: 0 !important;

    li {
      margin: 0 15px;

      a {
        font-size: 16px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        color: #999999;
        text-decoration: none;
        transition: color .3s ease;

        &:hover {
          color: $black;
        }
      }

      span {
        font-size: 16px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        color: #999999;
      }

      &.active span {
        color: #204498;
      }
    }
  }
}

.page_review {
  h1 {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 4px;
    text-align: center;
    color: $black;
    margin: 0 0 40px;
    text-transform: uppercase;
  }

  &-inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 -8px;

    .input-block {
      margin: 0 8px 16px;
      width: 50%;

      input {
        border: 1px solid #e6e6e6;

      }
    }
  }

  &-textarea {
    display: flex;
    flex-direction: column;
    align-items: center;

    .textarea-block {
      margin-bottom: 16px;
      width: 100%;

      textarea {
        border: 1px solid #e6e6e6;

      }
    }

    .help-block {
      text-align: center;
      margin-bottom: 30px;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.17;
      letter-spacing: normal;
      text-align: center;
      margin-top: 0;
      color: $black;
    }
  }

  &-form {
    h3 {
      margin-top: 0;
    }

    &_block {
      background-color: #fff;
      padding: 30px;
      margin-bottom: 60px;

      .btn {
        margin: auto;
        display: block;
      }
    }
  }

  &-list {
    margin-bottom: 30px;

    .review-caption {
      margin-bottom: 30px;
      padding: 30px;
      background-color: #fff;
      height: 223px;
      text-align: center;

      i {
        display: block;
        font-size: 20px;
        margin-bottom: 30px;
      }

      .review-author {
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 2px;
        line-height: 18px;
        color: $black;
        display: block;
        margin-bottom: 15px;
      }

      p {
        font-size: 14px;
        max-height: 98px;
        overflow: hidden;
        color: $black;
        line-height: 1.2;
        margin-bottom: 0;
      }
    }
  }
}

.page_contacts {
  h1, h2 {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 4px;
    text-align: center;
    color: $black;
    margin-top: 0;
    margin-bottom: 40px;
    text-transform: uppercase;
  }

  &-info {
    margin-bottom: 60px;
  }

  &-phone {
    width: 100%;
    padding: 60px 0;
    background-color: #fff;
    text-align: center;

    &-icon {
      margin-bottom: 30px;

      i.icon-phone-call {
        font-size: 60px;
      }
    }

    p {
      font-size: 14px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: center;
      color: #999999;
      margin-bottom: 5px;
    }

    a {
      font-size: 18px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 2px;
      text-align: center;
      color: $black;

      &:focus {
        text-decoration: none;
        outline: 0;
      }
    }
  }

  &-email {
    width: 100%;
    padding: 60px 0;
    background-color: #fff;
    text-align: center;

    &-icon {
      //padding-top: 5px;
      margin-bottom: 34px;

      i.icon-envelope {
        font-size: 55px;
      }
    }

    p {
      font-size: 14px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: center;
      color: #999999;
      margin-bottom: 5px;
    }

    a {
      font-size: 18px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 2px;
      text-align: center;
      color: $black;

      &:focus {
        text-decoration: none;
        outline: 0;
      }
    }
  }

  &-form {
    background-color: #fff;
    padding: 30px;
    margin-bottom: 60px;

    .input-block {
      margin-bottom: 30px;

      input {
        border: 1px solid #e6e6e6;

        &:focus {
          border-color: #ffd740;
        }
      }
    }

    .textarea-block {
      margin-bottom: 30px;

      textarea {
        border: 1px solid #e6e6e6;

        &:focus {
          border-color: #ffd740;
        }
      }
    }

    .buttons {
      margin: 0;

      .btn {
        margin: auto;
        display: block;
      }
    }
  }
}

.description_page {
  background-color: #fff;
  padding: 30px;
  margin-bottom: 60px;

  p {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: $black;

    span {
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
}

.marg_t_10 {
  margin-top: 10px;
}

.marg_t_30 {
  margin-top: 30px;
}

.marg_b_30 {
  margin-bottom: 30px;
}

.marg_b_60 {
  margin-bottom: 60px;
}

.vacancy {
  &-list {
    ul {
      list-style: none;
      margin-bottom: 30px;
    }
  }

  &-items {
    background-color: #fff;
    margin-bottom: 15px;
    padding: 30px;

    &-header {
      display: flex;
      flex-direction: column;
    }

    &-name {
      margin-bottom: 15px;
      font-size: 18px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 2px;
      color: $black;
    }

    &-h_bottom {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    &-city {
      font-size: 14px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #999999;
    }

    &-switch {
      font-size: 14px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #999999;
      padding-right: 20px;
      position: relative;
      cursor: pointer;

      .b_close {
        display: none;
      }

      i {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%) rotate(0deg);
        font-size: 6px;
        transition: all .3s ease;
      }
    }

    &.open {
      .vacancy-items-switch {
        .b_open {
          display: none;
        }

        .b_close {
          display: block;
        }

        i {
          transform: translateY(-50%) rotate(180deg);
        }
      }

      .vacancy-items-container {
        border-top: 1px solid #e6e6e6;
      }
    }

    &-content {
      padding-top: 28px;
      display: none;
    }

    &-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 28px;
      border-top: 0;
    }

    &-checked {
      margin-left: 30px;
    }

    &-description {

      ul {
        list-style: none;

        li {
          position: relative;
          padding-left: 15px;
          margin-bottom: 14px;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: normal;
          color: $black;

          &:after {
            content: '';
            position: absolute;
            width: 5px;
            height: 5px;
            background-color: #204498;
            border-radius: 50%;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  &-form {
    h2 {
      padding-top: 30px;
      margin-bottom: 40px;
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 4px;
      text-align: center;
      color: $black;
      text-transform: uppercase;
    }

    form {
      background-color: #fff;
      padding: 30px;
      margin-bottom: 60px;

      .form_bottom {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;
      }

      .input-block {
        margin-bottom: 30px;

        input {
          border: 1px solid #e6e6e6;

          &:focus {
            border-color: #ffd740;
          }
        }
      }

      .download-block {
        margin-bottom: 0px;
        width: 100%;
        border: 1px solid #e6e6e6;

        &.has-error {
          border: 1px solid #e83c4d !important;
        }
      }

      .textarea-block {
        margin-bottom: 30px;

        textarea {
          border: 1px solid #e6e6e6;

          &:focus {
            border-color: #ffd740;
          }
        }
      }

      .select-block {
        margin-bottom: 30px;
      }

      .btn {
        margin-left: 15px;
        min-width: 200px;
      }
    }
  }
}

.information_content,.description_page,.article-content {
  ul {
    list-style: none;

    li {
      position: relative;
      padding-left: 15px;
      margin-bottom: 14px;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: $black;

      &:after {
        content: '';
        position: absolute;
        width: 5px;
        height: 5px;
        background-color: #204498;
        border-radius: 50%;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  ol {
    padding-left: 0px;
    list-style: none;
    counter-reset: num;

    li {
      position: relative;
      padding-left: 15px;

      &:before {
        content: counter(num) '. ';
        counter-increment: num;
        color: #204498;
        top: 0;
        left: 0;
        position: absolute;
      }

      ol {
        li:before {
          color: #204498;
        }
      }
    }
  }

  h1 {
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: $black;
  }

  h2 {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: $black;
  }

  h3 {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 4px;
    color: $black;
  }

  h4 {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: $black;
  }

  h5 {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: $black;
  }

  h6 {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: $black;
  }
}


.special {
  &-list {
    .pagination {
      margin-top: 30px;
    }
  }

  &-items {
    position: relative;
    height: 260px;
    margin-bottom: 30px;

    &-media {
      display: none;
    }

    &.max {
      height: 534px;
      margin-bottom: 0px;

      .special-items-info {
        top: 142px;
        width: 100%;
        max-width: 525px;
      }

      .special-items-title {
        font-size: 36px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        max-height: 72px;
      }

      .special-items-text {
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.22;
        letter-spacing: normal;
        max-width: 100%;
      }

      a {
        bottom: 143px;
      }
    }

    &-info {
      position: absolute;
      left: 30px;
      top: 45px;
      width: 100%;
      max-width: 280px;
    }

    &-title {
      margin-bottom: 15px;
      font-size: 24px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #fff;
      text-transform: uppercase;
      max-height: 48px;
      overflow: hidden;
    }

    &-text {
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.25;
      letter-spacing: normal;
      color: #ffffff;
      max-height: 60px;
      overflow: hidden;
    }

    img {
      width: 100%;
    }

    a {
      width: 160px;
      height: 40px;
      border-radius: 60px;
      background-color: #ffffff;
      display: block;
      position: absolute;
      left: 30px;
      bottom: 46px;
      font-size: 12px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 1.7px;
      text-transform: uppercase;
      line-height: 40px;
      text-align: center;
      color: #1a1a1a;
      border: solid 1px transparent;
      transition: all .3s ease;

      &:hover {
        border-color: #fff;
        color: #fff;
        background-color: transparent;
      }
    }
  }
}

.page-special_article {
  .article-content {
    margin-bottom: 30px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 534px;
    padding: 30px;

    img {
      width: 100%;
    }

    h1 {
      text-align: left;
      max-width: 593px;
      font-size: 36px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #fff;
      margin-bottom: 15px;
    }
  }

  .article-description {
    max-width: 593px;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: #fff;

    p {
      margin-bottom: 0;
    }
  }
}

.map_content {
  background-color: #fff;
  height: 600px;
  margin-bottom: 60px;

  iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.alert {
  position: fixed;
  width: 420px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  background-color: #f5f7f8;
  right: 25px;
  margin-bottom: 0;
  bottom: 25px;
  z-index: 100;
  padding: 60px 30px;

  p {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
    color: $black;
  }

  .close {
    font-size: 15px;
    position: absolute;
    top: 15px;
    right: 15px;
    opacity: 1;
  }
}

.category_recipes {
  margin-bottom: 30px;

  &-block {
    margin-bottom: 30px;
    display: flex !important;
    flex-direction: row;
    align-items: center;
    height: 277px;
  }

  &-img {
    width: 50%;
    background-color: #fff;
    height: 100%;

    img {
      max-width: 100%;
    }
  }

  &-content {
    width: 50%;
    padding: 38px 30px 30px;
    background-color: #fff;
    height: 100%;
  }

  &-name {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 2px;
    color: $black;
    margin-bottom: 38px;
    text-transform: uppercase;
    padding-left: 52px;
    position: relative;

    &.name-recipes {
      padding-left: 0;
      text-align: left;
    }

    img {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &-description {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: $black;
    margin-bottom: 15px;
    max-height: 122px;
    height: 100%;
    overflow: hidden;

  }

  &-href {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: 2px;
    text-align: left;

    a {
      color: #204498;

      &:hover {
        color: $yellow;
      }
    }
  }
}

.not_found {
  &-img {
    width: 100%;
    max-width: 537px;
    background-repeat: no-repeat;
    height: 180px;
    background-image: url(../image/404.svg);
    background-size: contain;
    margin: 72px auto 20px;
  }

  h1 {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 3px;
    text-align: center;
    color: $black;
    margin-bottom: 60px;
  }

  .buttons {
    .btn {
      display: block;
      margin: 0 auto 69px;
      border-radius: 60px;
    }
  }
}