@media (min-width: 1920px) {
  body {
    background-size: contain;
    background-attachment: scroll !important; } }
*:focus {
  outline: 0; }

.form-control:focus {
  box-shadow: none !important; }

body {
  padding-bottom: 60px;
  color: #1a1a1a;
  background-attachment: fixed;
  background-image: url(../image/background.png);
  background-position: center top;
  margin: auto;
  font-size: 14px; }

ul {
  padding-left: 0; }

.input-block {
  position: relative;
  height: auto; }

.textarea-block {
  position: relative;
  height: auto; }

.error {
  color: #e83c4d;
  position: absolute;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  left: 0px;
  top: 100%;
  transform: translateY(2px);
  margin-bottom: 0; }

input, input.form-control {
  outline: none;
  border: solid 1px transparent;
  background-color: #fff;
  height: 50px;
  padding-left: 20px;
  color: #1a1a1a;
  font-size: 14px;
  transition: all .3s ease;
  border-radius: 0;
  box-shadow: none; }
  input:focus, input.form-control:focus {
    border-color: #ffd740;
    box-shadow: none; }
  input.has-error, input.form-control.has-error {
    border: 1px solid #e83c4d !important; }

textarea, textarea.form-control {
  outline: none;
  border: solid 1px transparent;
  background-color: #fff;
  height: 140px;
  padding: 18px 20px;
  resize: none;
  color: #1a1a1a;
  font-size: 14px;
  transition: all .3s ease;
  border-radius: 0;
  box-shadow: none; }
  textarea:focus, textarea.form-control:focus {
    border-color: #ffd740;
    box-shadow: none; }
  textarea.has-error, textarea.form-control.has-error {
    border: 1px solid #e83c4d !important; }

button {
  outline: none; }

.btn {
  width: 200px;
  height: 50px;
  background-color: #ffd740;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 2px;
  color: #1a1a1a;
  border: 0;
  border-radius: 0;
  text-transform: uppercase;
  line-height: 50px;
  padding: 0;
  transition: all .3s ease; }
  .btn:hover {
    background-color: #204498;
    color: #fff; }

h3 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 4px;
  color: #1a1a1a;
  margin-top: 60px;
  margin-bottom: 40px; }

.header.fixed .container {
  padding: 20px 15px 76px; }
.header .container {
  padding: 20px 15px; }
.header-logo img {
  max-width: 294px; }
.header-search {
  position: relative;
  margin-top: 20px; }
  .header-search input {
    width: 100%;
    max-width: 360px;
    height: 50px;
    font-size: 14px;
    border-radius: 10em;
    padding: 0 52px 0 20px;
    transition: border-color .3s ease; }
  .header-search button {
    position: absolute;
    right: 0;
    padding: 0 20px;
    background-color: transparent;
    border: 0;
    height: 50px;
    top: 0; }
.header-info-a {
  padding-top: 20px; }
  .header-info-a a {
    font-size: 16px;
    color: #1a1a1a;
    transition: color .3s ease; }
    .header-info-a a:hover {
      color: #204498; }
    .header-info-a a.tell {
      margin-right: 30px; }
.header-callback {
  padding-top: 16px; }
  .header-callback button {
    margin-left: 60px;
    display: block;
    font-weight: bold;
    letter-spacing: 3px;
    color: #204498;
    transition: color .3s ease;
    text-transform: uppercase;
    position: relative;
    border: 0;
    padding: 0 0 0 35px;
    line-height: 1;
    background-color: transparent;
    font-size: 14px; }
    .header-callback button i {
      position: absolute;
      top: 50%;
      font-size: 20px;
      left: 0;
      transform: translateY(-50%); }
      .header-callback button i:before {
        transition: color .3s ease; }
    .header-callback button:hover {
      color: #1a1a1a; }
      .header-callback button:hover i:before {
        color: #1a1a1a; }

.main-menu.fixed_menu {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 100;
  box-shadow: 0px 4px 5px -5px rgba(113, 113, 113, 0.55); }
.main-menu ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 56px;
  background-color: #ffffff;
  margin-bottom: 0;
  padding-left: 0; }
  .main-menu ul li {
    padding: 0 19px; }
    .main-menu ul li.active a {
      color: #204498; }
    .main-menu ul li a {
      font-weight: bold;
      font-size: 16px;
      color: #1a1a1a;
      transition: color .3s ease;
      text-decoration: none; }
      .main-menu ul li a:hover {
        color: #204498; }

.footer .copyright {
  text-align: center;
  padding: 30px 15px;
  color: #fff;
  opacity: 0.5;
  font-size: 14px; }
.footer .row {
  padding: 0 15px; }
.footer-content {
  background-color: #204498;
  padding: 40px 0px 0; }
.footer-social {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 0; }
  .footer-social li {
    margin: 0 7.5px; }
    .footer-social li a {
      width: 40px;
      height: 40px;
      display: block;
      background-color: #3657a2;
      border-radius: 50%;
      color: #fff;
      position: relative;
      transition: all .3s ease; }
      .footer-social li a:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
      .footer-social li a.icon-facebook-logo:before {
        font-size: 20px; }
      .footer-social li a.icon-vk-social-network-logo:before {
        font-size: 13px; }
      .footer-social li a.icon-instagram:before {
        font-size: 20px; }
      .footer-social li a.icon-youtube:before {
        font-size: 15px; }
      .footer-social li a:hover {
        color: #204498;
        background-color: #fff; }
.footer-callback {
  padding-top: 12px; }
  .footer-callback button {
    margin-left: 60px;
    display: block;
    font-weight: bold;
    float: right;
    letter-spacing: 3px;
    color: #fff;
    transition: color .3s ease;
    text-transform: uppercase;
    position: relative;
    border: 0;
    font-size: 14px;
    padding: 0 0 0 35px;
    line-height: 1;
    background-color: transparent; }
    .footer-callback button i {
      position: absolute;
      top: 50%;
      font-size: 20px;
      left: 0;
      transform: translateY(-50%); }
      .footer-callback button i:before {
        transition: color .3s ease;
        color: #fff; }
    .footer-callback button:hover {
      color: #ffd740; }
      .footer-callback button:hover i:before {
        color: #ffd740; }
.footer-contacts {
  padding-top: 12px; }
  .footer-contacts a {
    font-weight: bold;
    font-size: 14px;
    color: #fff; }
  .footer-contacts .tell {
    margin-left: 30px; }
.footer .newsletters {
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px; }
  .footer .newsletters h2 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 5px;
    color: #ffffff;
    margin: 0; }
  .footer .newsletters-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: relative; }
  .footer .newsletters-input {
    padding-left: 20px;
    width: 535px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 14px; }
    .footer .newsletters-input:focus {
      border-color: #fff; }
    .footer .newsletters-input::-moz-placeholder {
      color: #fff; }
    .footer .newsletters-input::-webkit-input-placeholder {
      color: #fff; }
    .footer .newsletters-input::-ms-input-placeholder {
      color: #fff; }
  .footer .newsletters-btn {
    margin-left: 15px;
    font-size: 14px;
    border: 0;
    width: 200px;
    height: 50px;
    background-color: #ffd740;
    transition: all .3s ease;
    color: #1a1a1a;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px; }
    .footer .newsletters-btn:hover {
      background-color: #fff; }

.slick-slider {
  margin-bottom: 23px; }
  .slick-slider .item {
    position: relative; }
    .slick-slider .item-title {
      position: absolute;
      top: 96px;
      left: 30px;
      font-size: 36px;
      font-weight: bold;
      text-transform: uppercase;
      color: #ffffff; }
    .slick-slider .item-text {
      position: absolute;
      max-width: 593px;
      width: 100%;
      top: 137px;
      left: 30px;
      font-size: 18px;
      color: #ffffff;
      line-height: 1.22; }
    .slick-slider .item a {
      width: 200px;
      height: 50px;
      border-radius: 60px;
      background-color: #ffffff;
      display: block;
      position: absolute;
      left: 30px;
      bottom: 87px;
      font-size: 14px;
      text-transform: uppercase;
      line-height: 50px;
      text-align: center;
      font-weight: 600;
      letter-spacing: 2px;
      color: #1a1a1a;
      border: solid 1px transparent;
      transition: all .3s ease; }
      .slick-slider .item a:hover {
        border-color: #fff;
        color: #fff;
        background-color: transparent; }
  .slick-slider .slick-dots {
    list-style: none;
    font-size: 0;
    flex-direction: row;
    align-items: center;
    display: flex;
    position: absolute;
    bottom: 23px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    height: 8px;
    justify-content: center; }
    .slick-slider .slick-dots li {
      height: 8px;
      opacity: .5;
      margin: 0 4px; }
      .slick-slider .slick-dots li.slick-active {
        opacity: 1; }
      .slick-slider .slick-dots li button {
        padding: 0;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        border: 0;
        background-color: #fff; }

.baner-home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px; }
  .baner-home .item {
    width: 100%;
    max-width: 555px;
    position: relative; }
    .baner-home .item-content {
      position: absolute;
      top: 45px;
      left: 30px;
      max-width: 280px;
      width: 100%; }
    .baner-home .item-mobal {
      display: none; }
    .baner-home .item:nth-child(1) {
      margin-right: 15px; }
    .baner-home .item:nth-child(2) {
      margin-left: 15px; }
    .baner-home .item-title {
      text-transform: uppercase;
      font-size: 24px;
      font-weight: bold;
      color: #ffffff;
      margin-bottom: 15px;
      max-height: 48px;
      overflow: hidden; }
    .baner-home .item-text {
      top: 84px;
      left: 30px;
      font-size: 16px;
      color: #ffffff;
      line-height: 1.25;
      max-height: 60px;
      overflow: hidden; }
    .baner-home .item a {
      width: 160px;
      height: 40px;
      border-radius: 60px;
      background-color: #ffffff;
      display: block;
      position: absolute;
      left: 30px;
      bottom: 46px;
      font-size: 12px;
      text-transform: uppercase;
      line-height: 40px;
      text-align: center;
      font-weight: 600;
      letter-spacing: 1.7px;
      color: #1a1a1a;
      border: solid 1px transparent;
      transition: all .3s ease; }
      .baner-home .item a:hover {
        border-color: #fff;
        color: #fff;
        background-color: transparent; }

.product-search h1 {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  color: #1a1a1a;
  margin-bottom: 40px;
  margin-top: 0; }
.product-search .block-search {
  position: relative;
  margin-bottom: 30px; }
  .product-search .block-search .btn-search {
    position: absolute;
    right: 0;
    padding: 0 20px;
    background-color: transparent;
    border: 0;
    height: 50px;
    top: 0; }

.module-special {
  position: relative; }
  .module-special .product-thumb {
    margin-bottom: 0; }
  .module-special .next {
    position: absolute;
    font-size: 10px;
    top: -70px;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .3s ease; }
    .module-special .next svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .module-special .next:hover {
      background-color: #ffd740; }
  .module-special .prev {
    position: absolute;
    font-size: 10px;
    top: -70px;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .3s ease; }
    .module-special .prev svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .module-special .prev:hover {
      background-color: #ffd740; }
  .module-special .slider-special {
    margin: 0 -15px; }
  .module-special .slick-slide > div {
    margin: 0 15px; }

.module-article {
  position: relative;
  margin-bottom: 30px; }
  .module-article .next {
    position: absolute;
    font-size: 10px;
    top: -70px;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .3s ease; }
    .module-article .next svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .module-article .next:hover {
      background-color: #ffd740; }
  .module-article .prev {
    position: absolute;
    font-size: 10px;
    top: -70px;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .3s ease; }
    .module-article .prev svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .module-article .prev:hover {
      background-color: #ffd740; }
  .module-article .slider-article {
    margin: 0 -15px; }
  .module-article .slick-slide > div {
    margin: 0 15px; }

.product-thumb {
  background-color: #fff;
  border: 0;
  transition: box-shadow .3s ease;
  padding: 108px 30px 0;
  position: relative; }
  .product-thumb .image {
    margin-bottom: 40px; }
  .product-thumb .image a {
    width: 100%;
    height: 160px;
    position: relative; }
    .product-thumb .image a img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%; }
  .product-thumb .special-date {
    position: absolute;
    top: 30px;
    left: 30px;
    color: #808080; }
    .product-thumb .special-date p {
      margin: 0 0 3px 0;
      font-size: 12px;
      line-height: 1;
      font-weight: normal; }
    .product-thumb .special-date span {
      font-size: 12px;
      line-height: 1;
      font-weight: 600; }
  .product-thumb .caption {
    min-height: auto; }
    .product-thumb .caption .description {
      margin-bottom: 30px;
      height: 34px;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between; }
      .product-thumb .caption .description h4 {
        margin: 0 15px 0 0;
        max-width: 220px;
        max-height: 100%; }
        .product-thumb .caption .description h4 a {
          font-size: 16px;
          font-weight: normal;
          color: #1a1a1a; }
      .product-thumb .caption .description .mass {
        width: 65px;
        position: relative;
        font-size: 14px;
        font-weight: 600;
        color: #b3b3b3;
        text-align: right; }
        .product-thumb .caption .description .mass:before {
          content: '';
          height: 37px;
          width: 1px;
          background-color: #e6e6e6;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%); }
  .product-thumb .btn-cart {
    height: 50px;
    border-radius: 60px;
    background-color: #204498;
    color: #fff;
    border: 0;
    width: 100%;
    max-width: 300px;
    margin: 0 auto 30px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: block;
    padding: 0;
    transition: all .3s ease; }
    .product-thumb .btn-cart:hover {
      background-color: #ffd740;
      color: #1a1a1a; }
  .product-thumb .price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px; }
    .product-thumb .price-new {
      font-size: 20px;
      font-weight: bold;
      color: #1a1a1a; }
      .product-thumb .price-new-percent {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 60px;
        height: 60px;
        background-color: #e83c4d;
        border-radius: 50%;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        color: #ffffff;
        line-height: 60px; }
    .product-thumb .price-old {
      font-size: 16px;
      font-weight: 600;
      color: #999999; }
  .product-thumb:hover {
    box-shadow: 0 0 10px 0 #e6e6e6; }

.recipes-home {
  margin-bottom: 60px; }
  .recipes-home .items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px; }
    .recipes-home .items .item a {
      display: flex;
      flex-direction: column; }
    .recipes-home .items .item .item-content:after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -30px;
      border: 15px solid transparent;
      border-bottom: 15px solid #fff; }
    .recipes-home .items .item:nth-child(2n) a {
      flex-direction: column-reverse; }
    .recipes-home .items .item-content {
      background-color: #fff;
      height: 190px;
      position: relative;
      text-align: center;
      padding-top: 116px; }
      .recipes-home .items .item-content img {
        position: absolute;
        transform: translateX(-50%) scale(1.3, 1.3);
        -ms-transform: translateX(-50%) scale(1.3, 1.3);
        -webkit-transform: translateX(-50%) scale(1.3, 1.3);
        bottom: 89px;
        left: 50%; }
    .recipes-home .items .item-title {
      font-size: 12px;
      font-weight: 600;
      color: #1a1a1a;
      line-height: 14px;
      letter-spacing: 1.7px;
      text-transform: uppercase; }
  .recipes-home .btn-recipes {
    width: 224px;
    height: 60px;
    border-radius: 10em;
    background-color: #ffd740;
    margin: auto;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 60px;
    padding-left: 83px;
    color: #1a1a1a;
    display: block;
    position: relative;
    transition: all .3s ease; }
    .recipes-home .btn-recipes i {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 38px;
      font-size: 30px; }
    .recipes-home .btn-recipes:hover {
      background-color: #204498;
      color: #fff; }

.review-home {
  position: relative; }
  .review-home .btn-review {
    width: 224px;
    height: 60px;
    border-radius: 10em;
    background-color: #ffd740;
    margin: 0 auto 60px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 60px;
    padding-left: 83px;
    color: #1a1a1a;
    display: block;
    position: relative;
    transition: all .3s ease; }
    .review-home .btn-review i {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 38px;
      font-size: 30px; }
    .review-home .btn-review:hover {
      background-color: #204498;
      color: #fff; }
  .review-home .review-caption {
    padding: 30px;
    background-color: #fff;
    height: 223px;
    text-align: center; }
    .review-home .review-caption i {
      display: block;
      font-size: 20px;
      margin-bottom: 30px; }
    .review-home .review-caption .review-author {
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 2px;
      line-height: 18px;
      color: #1a1a1a;
      display: block;
      margin-bottom: 15px; }
    .review-home .review-caption p {
      font-size: 14px;
      color: #1a1a1a;
      line-height: 1.2;
      margin-bottom: 0; }
  .review-home .review-slider {
    margin: 0 -15px 30px; }
    .review-home .review-slider .slick-slide {
      margin: 0 15px; }
  .review-home .next {
    position: absolute;
    font-size: 10px;
    top: -70px;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .3s ease; }
    .review-home .next svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .review-home .next:hover {
      background-color: #ffd740; }
  .review-home .prev {
    position: absolute;
    font-size: 10px;
    top: -70px;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .3s ease; }
    .review-home .prev svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .review-home .prev:hover {
      background-color: #ffd740; }

.mfp-wrap {
  position: fixed !important;
  top: 0 !important; }
  .mfp-wrap .mfp-container {
    overflow-y: auto; }

.main_popups .modal-dialog {
  max-width: 644px;
  width: 100%;
  padding: 30px 15px;
  margin: auto; }
  .main_popups .modal-dialog .modal-content {
    border-radius: 0;
    background-color: #f5f7f8;
    border: 0;
    box-shadow: none;
    padding: 60px 30px; }
    .main_popups .modal-dialog .modal-content .close {
      position: absolute;
      top: 15px;
      right: 15px;
      opacity: 1;
      transition: opacity .3s ease; }
      .main_popups .modal-dialog .modal-content .close i {
        font-size: 15px;
        color: #1a1a1a; }
      .main_popups .modal-dialog .modal-content .close:hover {
        opacity: 0.6; }
    .main_popups .modal-dialog .modal-content input {
      margin-bottom: 30px; }
      .main_popups .modal-dialog .modal-content input.has-error {
        border: 1px solid #e83c4d; }
    .main_popups .modal-dialog .modal-content textarea {
      margin-bottom: 15px; }
      .main_popups .modal-dialog .modal-content textarea.has-error {
        border: 1px solid #e83c4d; }
    .main_popups .modal-dialog .modal-content .form-group {
      position: relative;
      margin-bottom: 0; }
    .main_popups .modal-dialog .modal-content .error {
      position: absolute;
      bottom: -15px;
      line-height: 12px;
      margin-bottom: 0; }
    .main_popups .modal-dialog .modal-content .modal-header {
      border: 0;
      padding: 0; }
    .main_popups .modal-dialog .modal-content .modal-body {
      padding: 0; }
.main_popups h3 {
  margin-bottom: 30px;
  line-height: 20px; }
.main_popups .popups_switch {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px; }
  .main_popups .popups_switch_tab {
    margin: 0 15px;
    font-size: 14px;
    font-weight: 600;
    color: #999999;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 2px;
    transition: color .3s ease;
    text-transform: uppercase;
    cursor: pointer; }
    .main_popups .popups_switch_tab.open {
      color: #1a1a1a; }
    .main_popups .popups_switch_tab:hover {
      color: #1a1a1a; }
.main_popups .popups_tabs .popups_tab {
  display: none; }
  .main_popups .popups_tabs .popups_tab .btn {
    margin: 30px auto 0;
    display: block; }
  .main_popups .popups_tabs .popups_tab.open {
    display: block; }

.page-information h1 {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  color: #1a1a1a;
  margin-bottom: 40px;
  margin-top: 0; }
.page-information .information_content {
  background-color: #fff;
  padding: 30px;
  margin-bottom: 60px; }
  .page-information .information_content p {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #1a1a1a; }
  .page-information .information_content img {
    margin-bottom: 20px;
    max-width: 100%; }

.breadcrumb {
  background-color: #204498;
  border-radius: 0;
  padding: 8px 15px;
  margin-bottom: 60px; }
  .breadcrumb li {
    margin-right: 26px;
    position: relative; }
    .breadcrumb li a {
      cofont-size: 12px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.17;
      letter-spacing: normal;
      color: #fff;
      text-transform: uppercase;
      transition: color .3s ease; }
      .breadcrumb li a:hover {
        color: #ffd740; }
    .breadcrumb li:before {
      display: none; }
    .breadcrumb li i {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -18px;
      font-size: 8px;
      color: #fff; }
    .breadcrumb li:last-child span {
      cofont-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.17;
      letter-spacing: normal;
      color: #fff;
      text-transform: uppercase;
      opacity: 0.5; }

.page-news_list .pagination {
  margin: 0; }
.page-news_list .bnews-list {
  margin-bottom: 60px; }
.page-news_list h1 {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  color: #1a1a1a;
  margin-bottom: 40px;
  margin-top: 0; }
.page-news_list .information_content {
  background-color: #fff;
  padding: 30px;
  margin-bottom: 60px; }
  .page-news_list .information_content p {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #1a1a1a; }
  .page-news_list .information_content img {
    margin-bottom: 20px;
    max-width: 100%; }

.artblock {
  margin-bottom: 30px;
  background-color: #fff; }
  .artblock-img {
    width: 100%; }
    .artblock-img img {
      width: 100%; }
  .artblock-content {
    padding: 30px; }
  .artblock-date {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #999999;
    margin-bottom: 12px; }
  .artblock-name {
    overflow: hidden;
    height: 39px;
    text-align: center;
    margin-bottom: 11px; }
    .artblock-name a {
      font-size: 18px;
      font-weight: bold;
      width: 100%;
      font-style: normal;
      font-stretch: normal;
      line-height: 18px;
      letter-spacing: 2px;
      color: #1a1a1a;
      text-decoration: none; }
  .artblock-preview {
    overflow: hidden;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    height: 48px;
    line-height: 16px;
    letter-spacing: normal;
    text-align: center;
    color: #1a1a1a;
    margin-bottom: 30px; }
  .artblock .btn {
    width: 100%;
    line-height: 50px; }

.page-news_article .article-content {
  padding: 60px 30px;
  margin-bottom: 60px;
  background-color: #fff; }
  .page-news_article .article-content h1 {
    margin-bottom: 30px; }
  .page-news_article .article-content .article-description p {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #1a1a1a; }
  .page-news_article .article-content .article-description img {
    margin-bottom: 20px;
    max-width: 100%; }
  .page-news_article .article-content .article-date {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #999999;
    margin-bottom: 30px; }

.pagination {
  border-radius: 0;
  margin-bottom: 60px;
  position: relative;
  width: 100%;
  height: 60px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px; }
  .pagination .disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.7;
    color: #1a1a1a !important; }
  .pagination-prev {
    font-size: 10px;
    color: #1a1a1a;
    transition: color .3s ease; }
    .pagination-prev:hover {
      color: #204498; }
  .pagination-next {
    font-size: 10px;
    color: #1a1a1a;
    transition: color .3s ease; }
    .pagination-next:hover {
      color: #204498; }
  .pagination-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin-bottom: 0 !important; }
    .pagination-list li {
      margin: 0 15px; }
      .pagination-list li a {
        font-size: 16px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        color: #999999;
        text-decoration: none;
        transition: color .3s ease; }
        .pagination-list li a:hover {
          color: #1a1a1a; }
      .pagination-list li span {
        font-size: 16px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        color: #999999; }
      .pagination-list li.active span {
        color: #204498; }

.page_review h1 {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 4px;
  text-align: center;
  color: #1a1a1a;
  margin: 0 0 40px;
  text-transform: uppercase; }
.page_review-inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 -8px; }
  .page_review-inputs .input-block {
    margin: 0 8px 16px;
    width: 50%; }
    .page_review-inputs .input-block input {
      border: 1px solid #e6e6e6; }
.page_review-textarea {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .page_review-textarea .textarea-block {
    margin-bottom: 16px;
    width: 100%; }
    .page_review-textarea .textarea-block textarea {
      border: 1px solid #e6e6e6; }
  .page_review-textarea .help-block {
    text-align: center;
    margin-bottom: 30px;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    margin-top: 0;
    color: #1a1a1a; }
.page_review-form h3 {
  margin-top: 0; }
.page_review-form_block {
  background-color: #fff;
  padding: 30px;
  margin-bottom: 60px; }
  .page_review-form_block .btn {
    margin: auto;
    display: block; }
.page_review-list {
  margin-bottom: 30px; }
  .page_review-list .review-caption {
    margin-bottom: 30px;
    padding: 30px;
    background-color: #fff;
    height: 223px;
    text-align: center; }
    .page_review-list .review-caption i {
      display: block;
      font-size: 20px;
      margin-bottom: 30px; }
    .page_review-list .review-caption .review-author {
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 2px;
      line-height: 18px;
      color: #1a1a1a;
      display: block;
      margin-bottom: 15px; }
    .page_review-list .review-caption p {
      font-size: 14px;
      max-height: 98px;
      overflow: hidden;
      color: #1a1a1a;
      line-height: 1.2;
      margin-bottom: 0; }

.page_contacts h1, .page_contacts h2 {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 4px;
  text-align: center;
  color: #1a1a1a;
  margin-top: 0;
  margin-bottom: 40px;
  text-transform: uppercase; }
.page_contacts-info {
  margin-bottom: 60px; }
.page_contacts-phone {
  width: 100%;
  padding: 60px 0;
  background-color: #fff;
  text-align: center; }
  .page_contacts-phone-icon {
    margin-bottom: 30px; }
    .page_contacts-phone-icon i.icon-phone-call {
      font-size: 60px; }
  .page_contacts-phone p {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #999999;
    margin-bottom: 5px; }
  .page_contacts-phone a {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 2px;
    text-align: center;
    color: #1a1a1a; }
    .page_contacts-phone a:focus {
      text-decoration: none;
      outline: 0; }
.page_contacts-email {
  width: 100%;
  padding: 60px 0;
  background-color: #fff;
  text-align: center; }
  .page_contacts-email-icon {
    margin-bottom: 34px; }
    .page_contacts-email-icon i.icon-envelope {
      font-size: 55px; }
  .page_contacts-email p {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #999999;
    margin-bottom: 5px; }
  .page_contacts-email a {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 2px;
    text-align: center;
    color: #1a1a1a; }
    .page_contacts-email a:focus {
      text-decoration: none;
      outline: 0; }
.page_contacts-form {
  background-color: #fff;
  padding: 30px;
  margin-bottom: 60px; }
  .page_contacts-form .input-block {
    margin-bottom: 30px; }
    .page_contacts-form .input-block input {
      border: 1px solid #e6e6e6; }
      .page_contacts-form .input-block input:focus {
        border-color: #ffd740; }
  .page_contacts-form .textarea-block {
    margin-bottom: 30px; }
    .page_contacts-form .textarea-block textarea {
      border: 1px solid #e6e6e6; }
      .page_contacts-form .textarea-block textarea:focus {
        border-color: #ffd740; }
  .page_contacts-form .buttons {
    margin: 0; }
    .page_contacts-form .buttons .btn {
      margin: auto;
      display: block; }

.description_page {
  background-color: #fff;
  padding: 30px;
  margin-bottom: 60px; }
  .description_page p {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #1a1a1a; }
    .description_page p span {
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px; }

.marg_t_10 {
  margin-top: 10px; }

.marg_t_30 {
  margin-top: 30px; }

.marg_b_30 {
  margin-bottom: 30px; }

.marg_b_60 {
  margin-bottom: 60px; }

.vacancy-list ul {
  list-style: none;
  margin-bottom: 30px; }
.vacancy-items {
  background-color: #fff;
  margin-bottom: 15px;
  padding: 30px; }
  .vacancy-items-header {
    display: flex;
    flex-direction: column; }
  .vacancy-items-name {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 2px;
    color: #1a1a1a; }
  .vacancy-items-h_bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
  .vacancy-items-city {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #999999; }
  .vacancy-items-switch {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #999999;
    padding-right: 20px;
    position: relative;
    cursor: pointer; }
    .vacancy-items-switch .b_close {
      display: none; }
    .vacancy-items-switch i {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%) rotate(0deg);
      font-size: 6px;
      transition: all .3s ease; }
  .vacancy-items.open .vacancy-items-switch .b_open {
    display: none; }
  .vacancy-items.open .vacancy-items-switch .b_close {
    display: block; }
  .vacancy-items.open .vacancy-items-switch i {
    transform: translateY(-50%) rotate(180deg); }
  .vacancy-items.open .vacancy-items-container {
    border-top: 1px solid #e6e6e6; }
  .vacancy-items-content {
    padding-top: 28px;
    display: none; }
  .vacancy-items-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 28px;
    border-top: 0; }
  .vacancy-items-checked {
    margin-left: 30px; }
  .vacancy-items-description ul {
    list-style: none; }
    .vacancy-items-description ul li {
      position: relative;
      padding-left: 15px;
      margin-bottom: 14px;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #1a1a1a; }
      .vacancy-items-description ul li:after {
        content: '';
        position: absolute;
        width: 5px;
        height: 5px;
        background-color: #204498;
        border-radius: 50%;
        left: 0;
        top: 50%;
        transform: translateY(-50%); }
      .vacancy-items-description ul li:last-child {
        margin-bottom: 0; }
.vacancy-form h2 {
  padding-top: 30px;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 4px;
  text-align: center;
  color: #1a1a1a;
  text-transform: uppercase; }
.vacancy-form form {
  background-color: #fff;
  padding: 30px;
  margin-bottom: 60px; }
  .vacancy-form form .form_bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative; }
  .vacancy-form form .input-block {
    margin-bottom: 30px; }
    .vacancy-form form .input-block input {
      border: 1px solid #e6e6e6; }
      .vacancy-form form .input-block input:focus {
        border-color: #ffd740; }
  .vacancy-form form .download-block {
    margin-bottom: 0px;
    width: 100%;
    border: 1px solid #e6e6e6; }
    .vacancy-form form .download-block.has-error {
      border: 1px solid #e83c4d !important; }
  .vacancy-form form .textarea-block {
    margin-bottom: 30px; }
    .vacancy-form form .textarea-block textarea {
      border: 1px solid #e6e6e6; }
      .vacancy-form form .textarea-block textarea:focus {
        border-color: #ffd740; }
  .vacancy-form form .select-block {
    margin-bottom: 30px; }
  .vacancy-form form .btn {
    margin-left: 15px;
    min-width: 200px; }

.information_content ul, .description_page ul, .article-content ul {
  list-style: none; }
  .information_content ul li, .description_page ul li, .article-content ul li {
    position: relative;
    padding-left: 15px;
    margin-bottom: 14px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #1a1a1a; }
    .information_content ul li:after, .description_page ul li:after, .article-content ul li:after {
      content: '';
      position: absolute;
      width: 5px;
      height: 5px;
      background-color: #204498;
      border-radius: 50%;
      left: 0;
      top: 50%;
      transform: translateY(-50%); }
    .information_content ul li:last-child, .description_page ul li:last-child, .article-content ul li:last-child {
      margin-bottom: 0; }
.information_content ol, .description_page ol, .article-content ol {
  padding-left: 0px;
  list-style: none;
  counter-reset: num; }
  .information_content ol li, .description_page ol li, .article-content ol li {
    position: relative;
    padding-left: 15px; }
    .information_content ol li:before, .description_page ol li:before, .article-content ol li:before {
      content: counter(num) ". ";
      counter-increment: num;
      color: #204498;
      top: 0;
      left: 0;
      position: absolute; }
    .information_content ol li ol li:before, .description_page ol li ol li:before, .article-content ol li ol li:before {
      color: #204498; }
.information_content h1, .description_page h1, .article-content h1 {
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #1a1a1a; }
.information_content h2, .description_page h2, .article-content h2 {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #1a1a1a; }
.information_content h3, .description_page h3, .article-content h3 {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 4px;
  color: #1a1a1a; }
.information_content h4, .description_page h4, .article-content h4 {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: normal;
  color: #1a1a1a; }
.information_content h5, .description_page h5, .article-content h5 {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #1a1a1a; }
.information_content h6, .description_page h6, .article-content h6 {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #1a1a1a; }

.special-list .pagination {
  margin-top: 30px; }
.special-items {
  position: relative;
  height: 260px;
  margin-bottom: 30px; }
  .special-items-media {
    display: none; }
  .special-items.max {
    height: 534px;
    margin-bottom: 0px; }
    .special-items.max .special-items-info {
      top: 142px;
      width: 100%;
      max-width: 525px; }
    .special-items.max .special-items-title {
      font-size: 36px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      max-height: 72px; }
    .special-items.max .special-items-text {
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.22;
      letter-spacing: normal;
      max-width: 100%; }
    .special-items.max a {
      bottom: 143px; }
  .special-items-info {
    position: absolute;
    left: 30px;
    top: 45px;
    width: 100%;
    max-width: 280px; }
  .special-items-title {
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #fff;
    text-transform: uppercase;
    max-height: 48px;
    overflow: hidden; }
  .special-items-text {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #ffffff;
    max-height: 60px;
    overflow: hidden; }
  .special-items img {
    width: 100%; }
  .special-items a {
    width: 160px;
    height: 40px;
    border-radius: 60px;
    background-color: #ffffff;
    display: block;
    position: absolute;
    left: 30px;
    bottom: 46px;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1.7px;
    text-transform: uppercase;
    line-height: 40px;
    text-align: center;
    color: #1a1a1a;
    border: solid 1px transparent;
    transition: all .3s ease; }
    .special-items a:hover {
      border-color: #fff;
      color: #fff;
      background-color: transparent; }

.page-special_article .article-content {
  margin-bottom: 30px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 534px;
  padding: 30px; }
  .page-special_article .article-content img {
    width: 100%; }
  .page-special_article .article-content h1 {
    text-align: left;
    max-width: 593px;
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #fff;
    margin-bottom: 15px; }
.page-special_article .article-description {
  max-width: 593px;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: normal;
  color: #fff; }
  .page-special_article .article-description p {
    margin-bottom: 0; }

.map_content {
  background-color: #fff;
  height: 600px;
  margin-bottom: 60px; }
  .map_content iframe {
    width: 100%;
    height: 100%;
    border: 0; }

.alert {
  position: fixed;
  width: 420px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  background-color: #f5f7f8;
  right: 25px;
  margin-bottom: 0;
  bottom: 25px;
  z-index: 100;
  padding: 60px 30px; }
  .alert p {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
    color: #1a1a1a; }
  .alert .close {
    font-size: 15px;
    position: absolute;
    top: 15px;
    right: 15px;
    opacity: 1; }

.category_recipes {
  margin-bottom: 30px; }
  .category_recipes-block {
    margin-bottom: 30px;
    display: flex !important;
    flex-direction: row;
    align-items: center;
    height: 277px; }
  .category_recipes-img {
    width: 50%;
    background-color: #fff;
    height: 100%; }
    .category_recipes-img img {
      max-width: 100%; }
  .category_recipes-content {
    width: 50%;
    padding: 38px 30px 30px;
    background-color: #fff;
    height: 100%; }
  .category_recipes-name {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 2px;
    color: #1a1a1a;
    margin-bottom: 38px;
    text-transform: uppercase;
    padding-left: 52px;
    position: relative; }
    .category_recipes-name.name-recipes {
      padding-left: 0;
      text-align: left; }
    .category_recipes-name img {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%); }
  .category_recipes-description {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #1a1a1a;
    margin-bottom: 15px;
    max-height: 122px;
    height: 100%;
    overflow: hidden; }
  .category_recipes-href {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: 2px;
    text-align: left; }
    .category_recipes-href a {
      color: #204498; }
      .category_recipes-href a:hover {
        color: #ffd740; }

.not_found-img {
  width: 100%;
  max-width: 537px;
  background-repeat: no-repeat;
  height: 180px;
  background-image: url(../image/404.svg);
  background-size: contain;
  margin: 72px auto 20px; }
.not_found h1 {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 3px;
  text-align: center;
  color: #1a1a1a;
  margin-bottom: 60px; }
.not_found .buttons .btn {
  display: block;
  margin: 0 auto 69px;
  border-radius: 60px; }

/*# sourceMappingURL=main-css.css.map */
