@media (min-width: 992px) {
  .recipes-home .items .item:nth-child(2n) .item-content:after {
    bottom: -30px;
    top: auto;
    border: 15px solid transparent;
    border-top: 15px solid #fff;
  }
}

@media (max-width: 1200px) {
  .category_recipes-content {
    width: 50%;
    padding: 28px 20px 20px;
  }
  .category_recipes-name {
    margin-bottom: 28px;
    padding-left: 44px;
    span{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
      display: block;
    }
  }
  .category_recipes-description{
    height: 105px;
  }
  .category_recipes-block {
    height: 227px;
  }
  .page-special_article .article-content {
    min-height: 440px;
  }
  .page-special_article .article-description {
    max-width: 510px;
  }
  .special-items {
    height: 214px;
    &.max {
      height: 440px;
    }
  }
  .baner-home .item-title,.special-items-title{
    //max-width: 390px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .baner-home .item-content,.special-items-info {
    max-width: 220px;
  }
  .footer-social {
    margin-top: 25px;
  }
  .header-info-a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a.tell {
      margin-right: 0;
    }
  }
  .footer .newsletters-input {
    width: 350px;
  }
  .recipes-home .items .item-content {
    height: 156.67px;
    padding-top: 100px;

    i {
      bottom: 73px;
    }
  }
  .slick-slider {
    .item {
      &-text {
        max-width: 550px;
      }

      a {
        bottom: 35px;
      }
    }
  }
  .special-items-text{
    line-height: 16px;
    max-height: 48px;
    max-width: 245px;
    font-size: 14px;
  }
  .special-items.max .special-items-info {
    top: 110px;
    width: 100%;
    max-width: 480px;
  }
  .special-items {
    &.max a {
      bottom: 80px;
    }
    a{
      bottom: 20px;
    }
  }

  .baner-home {
    .item {
      &-text {
        line-height: 16px;
        max-height: 48px;
        max-width: 245px;
        font-size: 14px;
      }

      a {
        bottom: 20px;
      }
    }
  }
}

@media (max-width: 991px) {
  .jq-file{
    justify-content: flex-end!important;
  }
  .jq-file__txt{
    display: none!important;
  }
  .footer .newsletters-form{
    width: 100%;
  }
  .footer .newsletters-input {
     width: 500px;
  }
  body {
    background-image: none;
    background-color: #f5f7f8;
  }
  .category_recipes-img img {
    width: 100%;
    max-width: 100%;
  }
  .category_recipes-block{
    flex-direction: column;
    height: auto;
  }
  .category_recipes-img{
    width: 100%;
  }
  .category_recipes-content{
    width: 100%;
  }
  .special-items {
    height: auto;
  }
  .special-items-desktop{
    display: none;
  }
  .special-items-media{
    display: block;
  }
  .breadcrumb {
    margin-bottom: 40px;
  }
  .mobal-menu-btn {
    margin-top: 14px;
    font-size: 25px;
  }
  .header-search {
    margin: 0;

    input {
      display: none;
    }

    button {
      margin-top: 4px;
      right: 0;
      position: relative;
      padding: 0;
      background-color: transparent;
      border: 0;
      height: 45px;
      top: 0;
      width: 45px;
      background: #fff;
      float: right;
      border-radius: 50%;
    }
  }
  .header-logo {
    text-align: center;

    #logo img {
      margin: auto;
      width: 229px;
    }
  }
  .footer .newsletters {
    flex-direction: column;
    margin-bottom: 30px;

    h2 {
      margin-bottom: 30px;
    }
  }
  .slick-slider {
    .item-title {
      position: absolute;
      top: 42px;
      left: 30px;
      font-size: 24px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      max-width: 390px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .item a {
      bottom: 42px;
      width: 160px;
      height: 40px;
      font-size: 12px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 40px;
      letter-spacing: 1.7px;
    }
    .item-text {
      max-width: 390px;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.25;
      letter-spacing: normal;
      max-height: 60px;
      top: 81px;
      overflow: hidden;
    }

  }
  body.fixed {
    padding-top: 110px;
  }
  .header.fixed {
    position: fixed;
    z-index: 100;
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 4px 5px -5px rgba(113, 113, 113, 0.55);
    .container {
      padding: 10px 15px;

      .header-logo #logo img {
        margin: auto;
        width: 170px;
      }
    }
  }
  .main-menu {
    &.open {
      transform: translateX(0%);
      overflow: auto;
      .container{
        position: relative;

      }
    }

    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: url(../image/tablet-menu-background.png)!important;
    background-position: center top!important;
    width: 100%;
    height: 100vh;
    z-index: 100;
    transition: all .3s ease;
    .header-callback{
      padding-top: 0;
      button{
        margin:0;
      }
    }
    .header-info{
      position: absolute;
      bottom: 60px;
      left: 0;
      width: 100%;
      display: flex;
      flex-direction: row;
      padding: 0 24px;
      justify-content: space-between;
      align-items: center;
      &-a{
        flex-direction: row;
        padding-top: 0;
        .tell{
          margin-right: 30px;
        }
      }
    }
    .mobal-menu-close {
      position: absolute;
      font-size: 25px;
      left: 24px;
      top: 49px;
    }
    .mobal-menu-logo{
      position: absolute;
      font-size: 25px;
      left: 50%;
      transform: translateX(-50%);
      top: 20px;
      img{
        width: 229px;
      }
    }
    ul {
      padding-top: 150px;
      padding-bottom: 106px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: auto;
      background-color: transparent;

      li {
        margin-bottom: 20px;

        a {
          font-size: 24px;

        }
      }
    }
  }
  .module-special .next, .module-special .prev, .review-home .next, .review-home .prev,.module-article .next,.module-article .prev {
    display: none !important;
  }
  .recipes-home .items {
    flex-wrap: wrap;

    .item {
      a{
        width: 360px;
        flex-direction: row !important;
      }
      .item-content:after {
        left: -30px;
        transform: translate(0, -50%);
        top: 50%;
        border: 15px solid transparent;
        border-right: 15px solid #fff;
      }

      &-img {
        width: 180px;
      }

      &-content {
        height: 180px;
        padding-top: 111px;
        width: 180px;

        i {
          bottom: 78px;
        }
      }

      &:nth-child(3) a, &:nth-child(4) a{
        flex-direction: row-reverse !important;

        .item-content:after {
          left: auto;
          right: -30px;
          border: 15px solid transparent;
          border-left: 15px solid #fff;
        }
      }
    }
  }
  .special-items.max .special-items-info {
    top: 145px;
  }
  .baner-home .item-mobal{
    display: block;
  }
  .baner-home .item-desktop{
    display: none;
  }
  .baner-home .item-content {
    max-width: calc(100% - 60px);
    width: 100%;
  }
  .special-items.max {
    height: auto;
  }
  .baner-home .item-text,.special-items-text {
    line-height: 1.25;
    max-height: 60px;
    max-width: 100%;
    font-size: 16px;
  }
  .baner-home .item a,.special-items a{
    bottom: 46px;
  }
  .special-items-info {
    max-width: calc(100% - 60px);
    width: 100%;
  }

}

@media (max-width: 767px) {
  .page_contacts-email {
    padding: 30px 0;
    &-icon {
      margin-bottom: 15px;
    }
  }
  .page_contacts-phone{
    margin-bottom: 30px;
    padding: 30px 0;
    &-icon {
      margin-bottom: 15px;
    }
  }
  .module-special-product{
    width: 100%;
    max-width: 360px;
    margin: auto;
  }
  .vacancy-form h2 {
    padding-top: 20px;
  }
  .vacancy-items-container{
    flex-direction: column;
  }
  .vacancy-items-checked{
    margin-left: 0;
    .btn{
      margin: auto;
      display: block;
    }
  }
  .jq-file__browse {
    font-size: 0!important;
  }
  .vacancy-form form .form_bottom{
    flex-direction: column;
    .error{
      top: 54px!important;
    }
  }
  .vacancy-form form .download-block{
    margin-bottom: 30px;
  }
  .testimonial-testimonial .pagination {
    margin-bottom: 10px;
  }
  .page-news_article .article-content {
    padding: 30px 15px;
    .article-description p{
      text-align: center;
    }
  }
  .page_review-inputs{
    flex-direction: column;
    margin: 0;
    .input-block{
      width: 100%;
    }
  }
  .page_review-textarea .textarea-block {
    margin-bottom: 30px;
  }
  .page_review-list .review-caption i {
    margin-bottom: 15px;
  }
  .page-news_list h1 {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1px;
  }
  .footer-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      margin: 0 0 10px;

      &.tell {
        margin-left: 0;
      }
    }
  }
  .footer-callback button {
    margin: auto;
    float: none;
  }
  .footer .newsletters-form {
    justify-content: space-between;
    width: 100%;
  }
  .footer .newsletters-input {
    //max-width: 350px;
    width: 100%;
  }
  .footer .newsletters-btn {
    max-width: 200px;
    width: 100%;
  }
  .module-special .product-layout {
    margin: auto;
  }
  .recipes-home{
    margin-bottom: 30px ;
  }
  h3{
    margin-top: 30px;
  }
  .review-home .btn-review{
    margin-bottom: 30px;
  }
  .recipes-home .items {
    justify-content: center;
    flex-direction: column;
  }
  .recipes-home .items .item:nth-child(2n) a {
    flex-direction: row-reverse !important;

    .item-content:after {
      left: auto;
      right: -30px;
      border: 15px solid transparent;
      border-left: 15px solid #fff;
    }
  }
  .recipes-home .items .item:nth-child(3) a {
    flex-direction: row !important;

    .item-content:after {
      left: -30px;
      right: auto;
      border: 15px solid transparent;
      border-right: 15px solid #fff;
    }
  }
}
@media (max-width: 699px) {
  .special-items.max .special-items-info {
    top: 45px;
    max-width: calc(100% - 60px);
    width: 100%;
  }
  .special-items.max .special-items-text{
    line-height: 1.25;
    max-height: 60px;
    max-width: 100%;
    font-size: 16px;
  }
  .special-items.max a{
    bottom: 46px;
  }
  .special-items.max .special-items-title{
    margin-bottom: 15px;
    font-size: 24px;
  }
  .special-items{
    width: 100%;
    max-width: 344px;
    margin: 0 auto 30px;
  }
  .special-list .col-xs-6{
    width: 100%;
  }
  .alert {
    width: 290px;
    right: 15px;
    bottom: 25px;
    padding: 40px 30px;
  }
  .baner-home .item-mobal{
    width: 100%;
  }
  .review-home .review-caption i {
    margin-bottom: 15px;
  }
  .baner-home {
    flex-direction: column;
  }
  .baner-home .item{
    margin:  0 0 15px!important;
    width: 360px;
  }
  .module-special,.review-home{
    width: 360px;
    margin: auto;
  }
  .page_review-list {
    .col-xs-6{
      width:100%;
    }
    .review-caption {
      height: auto;
      p {
        max-height: 100%;
      }
    }
  }
}
@media (max-width: 600px) {
  .page-special_article .article-content h1{
    text-align: center;
    font-size: 26px;
  }
  .page-special_article .article-description{
    text-align: center;
  }
  .vacancy-items-name{
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 1px;
  }
  .vacancy-items-city{
    margin-bottom: 10px;
  }
  .vacancy-items-h_bottom{
    flex-direction: column;
  }
  .main-menu {
    .header-info{
      flex-direction: column;
      bottom: 30px;
    }
    .header-callback {
      padding-top: 15px;
    }
  }
  .page-news_list .bnews-list{
    .col-xs-6{
      width: 100%;
    }
  }
}
@media (max-width: 500px) {
  .category_recipes .col-xs-6{
    width: 100%;
  }
  .category_recipes-block {
    width: 290px;
    margin: 0 auto 30px;
  }
  .page_contacts-email a {
    font-size: 16px;
  }
  .page_contacts-form{
    padding:15px;
  }
  .vacancy-items {
    padding: 15px;
  }
  .pagination{
    padding: 0 10px;
    &-list li {
      margin: 0px 8px;
    }
  }
  .main_popups .modal-dialog .modal-content {
    padding: 40px 15px;
  }
  .page_review-form_block {
    padding: 15px;
  }
  .vacancy-form form{
    padding: 15px;
  }

  .not_found-img {
    height: 160px;
  }
  body.fixed {
    padding-bottom: 15px;
  }
  .footer .newsletters-form {
    flex-direction: column;

    input {
      margin-bottom: 20px;
      max-width: 100%;
    }

    button {
      max-width: 100%;
      margin: 0;
    }
  }
  .mfp-container {
    padding: 0 15px!important;
  }
  #popup-purchase-wrapper{
    width: 100% !important;
    padding: 40px 15px!important;
  }
}

@media (max-width: 425px) {
  .page-special_article .article-content {
    padding: 30px 15px;
  }
  .special-items.max .special-items-info {
    top:30px;
    max-width: calc(100% - 30px);
    width: 100%;
  }
  .special-items.max a{
    bottom: 30px;
  }
  .special-items img {
    height: 250px;
  }
  .main_popups .popups_switch{
    margin: 0 -7px 30px;
    &_tab{
      letter-spacing: 1px;
      margin: 0 7px;
    }
  }
  .footer .newsletters h2 {
    font-size: 12px;
    letter-spacing: 3px;
  }
  .mobal-menu-btn {
    margin-top: 12px;
  }
  .header-logo #logo img{
    width: 163px;
  }
  .special-items-info{
    left: 15px;
    top: 30px;
    max-width: calc(100% - 30px);
    width: 100%;
  }
  .special-items a{
    bottom: 30px;
    left: 15px;
  }
  .baner-home {
    .item-text {
      max-height: 80px;
    }
    .item-mobal {
      height: 250px;
    }
    .item-content{
      left: 15px;
      top: 30px;
      max-width: calc(100% - 30px);
      width: 100%;
    }
    .item{
      margin:  0 0 15px!important;
      width: 360px;
      a{
        bottom: 30px;
        left: 15px;
      }
    }
  }
  .module-special{
    width: 360px;
    margin: auto;
  }
  .baner-home .item{
    width: 290px;
  }
  .module-special,.review-home {
    width: 290px;
  }
  .recipes-home{
    .items{
      .item a{
        width: 290px;
      }
    }
  }
  .recipes-home .items .item-content {
    height: 145px;
    padding-top: 95px;

    i {
      bottom: 68px;
    }
  }
}

@media (max-width: 375px) {
  .main-menu .header-info-a {
    flex-direction: column;
    .tell {
      margin-right: 0px;
    }
  }
  .not_found-img {
    height: 120px;
    margin: 32px auto 20px;
  }
}