#popup-purchase-wrapper {
    background-color: #f5f7f8;
    max-width: 614px;
    width: 90%;
    margin: 0 auto;
    min-height: 100px;
    padding: 60px 30px;
    position: relative;
}
#popup-purchase-wrapper .popup-heading {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 4px;
    color: #1a1a1a;
    text-transform: uppercase;
    margin-bottom: 60px;
}
#popup-purchase-wrapper .mfp-close {
    right: 15px;
    top: 15px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    position: absolute;
    z-index: 2;
    cursor: pointer !important;
    outline: none;
    border: 0;
    font-size: 15px;
    display: none!important;
}
#popup-purchase-wrapper .popup-close{
    right: 15px;
    top: 15px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    padding: 0;
    background-color: transparent;
    position: absolute;
    z-index: 2;
    cursor: pointer !important;
    outline: none;
    border: 0;
    font-size: 15px;
}
#popup-purchase-wrapper .mfp-close:hover {
    background-position: 0 -60px;
}
#popup-purchase-wrapper .popup-footer {
    background-color: #f2f6f9;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: bottom;
}
#popup-purchase-wrapper .popup-footer .btn{
    margin: auto;
    display: block;
}
.payment-info-block{
    position: relative;
    margin-bottom: 30px;
}
#popup-purchase-wrapper .popup-footer button {
height: 32px;
    line-height: 30px;
    color: #000;
    padding: 0 25px;
    cursor: pointer;
    font-size: 12px;
    display: inline-block;
    border: 1px solid #c5cdd8;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    background: #f2f6f9;
    border-radius: 2px;
    outline: none;
    text-align: center;
}

#popup-purchase-wrapper .popup-footer #popup-checkout-none {
    opacity: 0.5;
    background: #F64747;
    border: 1px solid #D64541;
}
#popup-purchase-wrapper .popup-footer #popup-checkout-none:hover {
    background: #F64747;
    cursor: not-allowed;
}
#popup-purchase-wrapper .popup-center {
    /*padding: 25px;*/
    overflow: auto;
}
#popup-purchase-wrapper .left {
    float: left;
    width: 60%;
}
#popup-purchase-wrapper .right {
    float: right;
}
#popup-purchase-wrapper .right img {
    border: 1px solid #dfe4eb;
}
#popup-purchase-wrapper .right .sub-images {
    display: block;
    text-align: center;
    margin-top: 10px;
}
#popup-purchase-wrapper .right .sub-images > span label {
    border-radius: 10px;
    width: 10px;
    height: 10px;
    background: #bbb;
    display: inline-block;
}
#popup-purchase-wrapper .right .sub-images input {
    display: none;
}
#popup-purchase-wrapper .right .sub-images input[type=radio]:checked + label {
    background: #e5e5e5;
}
#popup-purchase-wrapper .right .sub-images > span + span {
    margin-left: 5px;
}
#popup-purchase-wrapper .right .sub-images > span label:hover {
    cursor: pointer;
    background: #e5e5e5;
}
#popup-purchase-wrapper .product-name {
    font-size: 18px;
    margin-bottom: 15px;
}
#popup-purchase-wrapper .product-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

}
#popup-purchase-wrapper .product-price .price-new {
    font-size: 20px;
    font-weight: bold;
    color: #1a1a1a;
}
#popup-purchase-wrapper .product-price .price-old {
    font-size: 16px;
    font-weight: 600;
    color: #999999;
}
#popup-purchase-wrapper .product-description {
    max-height: 120px;
    margin: 15px 0;
}
#popup-purchase-wrapper .payment-info {
    clear: both;
    /*margin-bottom: 15px;*/
}
#popup-purchase-wrapper .product-img {
    text-align: center;
    margin-bottom: 15px;
    background-color: #fff;
    padding: 15px 0;
}
#popup-purchase-wrapper .info-heading {
    font-size: 15px;
    display: block;
    color: #000;
    text-align: left;
}
#popup-purchase-wrapper .info-heading-2 {
    font-size: 15px;
    display: block;
    color: #000;
    text-align: left;
    margin: 5px 0 10px 0;
}
#popup-purchase-wrapper .payment-info > div {
    width: 100%;
    display: inline-block;
}

#popup-purchase-wrapper .payment-info > div label {
    font-size: 12px;
    line-height: 12px;
    color: #666;
    font-weight: bold;
    margin-bottom: 2px;
}
#popup-purchase-wrapper .payment-info > div label span {
    color: #f00;
}
#popup-purchase-wrapper .payment-info > div input, #popup-purchase-wrapper .payment-info > div textarea {
    /*border: 1px solid #dfe4eb;*/
    padding: 18px 20px;
    background: #fff;
    outline: none;
    color: #666;
    font-size: 12px;
    width: 100%;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
}
#popup-purchase-wrapper .payment-info > div textarea {
    min-height: 70px;
    resize: vertical;
}
.popup-center .product-description{
    margin-bottom: 30px;
    /*height: 36px;*/
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.popup-center .product-description .mass {
    width: 65px;
    position: relative;
    font-size: 14px;
    font-weight: 600;
    color: #b3b3b3;
    text-align: right;
}
.popup-center .product-description .mass:before {
    content: '';
    height: 37px;
    width: 1px;
    background-color: #e6e6e6;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.payment-quantity {
    position: relative;
}
.payment-quantity label {
    display: block;
    font-size: 12px;
    line-height: 12px;
    color: #666;
    font-weight: bold;
    margin-bottom: 4px;
}
.payment-quantity .number {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}
.payment-quantity .frame-change-count {
    width: 100%;
}
.payment-quantity .btn-plus button {
    width: 60px;
    height: 48px;
    cursor: pointer;
    display: inline-block;
    background: #fff;
    border: 0;
    outline: none;
    line-height: 5px;
    text-align: center;
}

.payment-quantity .btn-minus button {
    width: 60px;
    height: 48px;
    cursor: pointer;
    display: inline-block;
    background: #fff;
    border: 0;
    outline: none;
    text-align: center;
    line-height: 0;
}
.payment-quantity .btn-minus button span {
    width: 14px;
    height: 2px;
    background: #fff url(plus-minus.png) no-repeat;
    background-position: -20px 0px;
    display: inline-block;
}
.payment-quantity .btn-plus button span {
    width: 14px;
    height: 14px;
    background: #fff url(plus-minus.png) no-repeat;
    background-position: 0 0px;
    display: inline-block;
}
.payment-quantity .btn-plus {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
.payment-quantity .btn-minus {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    ledt: 0;
}
.payment-quantity input.plus-minus {
    border-top: 0;
    border-bottom: 0;

    background: #fff;
    width: 100%;
    height: 50px;
    left: 32px;
    padding: 0;
    outline: none;
    font-size: 18px;
    text-align: center;
}
.masked {
    position: absolute;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background: #eee;
    opacity: 0.4;
    left: 0;
    top: 0;
}
.masked_loading {
    background: url(ring-alt.svg) no-repeat center center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10001;
    top: 0;
    left: 0;
}
.popup-purchase-button {
    text-align: center;
}
.popup-purchase-button button {
    width: 100% !important;
}
@media (min-width: 320px) and (max-width: 532px) {
    #popup-purchase-wrapper .popup-heading {
        font-size: 20px;
        margin-bottom: 40px;
    }
    #popup-purchase-wrapper .product-description {
        max-height: 100%;
    }
    #popup-purchase-wrapper .popup-footer button {
        width: 100%;
    }
    #popup-purchase-wrapper .popup-footer a {
        width: 100%;
        margin-top: 5px;
    }
    #popup-purchase-wrapper .right {
        width: 100%;
        text-align: center;
    }
    #popup-purchase-wrapper .left {
        width: 100%;
    }
}